
@{
    ViewData["Title"] = "Index";
    var userId = ViewBag.UserId;
    var name = ViewBag.Name;
    var age = ViewBag.Age;
}

<h1>ViewBag</h1>

User Id : @userId<br />
Name : @name<br />
Age : @age<br />


